name: Coverage
on: [push, pull_request]

jobs:
  coverage:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      
      - name: Set up Go
        uses: actions/setup-go@v4
        with:
          go-version: '1.21'
          
      - name: Run tests with coverage
        run: |
          cd ./backend
          go test -coverprofile=./backend/coverage -covermode=atomic \
            ./internal/services/gamelogic \
            ./internal/services/gameservice \
            ./internal/services/protoconvert
        
      - name: Send coverage to Coveralls
        uses: shogo82148/actions-goveralls@v1
        with:
          path-to-profile: ./backend/coverage